@mixin flex($justify: center, $align: center, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid($background: #fff, $width: 10px, $height: 10px) {
    background: $background;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 0), linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 0), linear-gradient(#ded4d2 1px, transparent 0),
        linear-gradient(90deg, #ded4d2 1px, transparent 0);
    background-size: $width $height;
    position: relative;
}

@mixin boxShadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
